.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-pagination .slider-page {
  background: #000000;
}

.carousel-vid {
  display: flex;
  place-items: left;
  justify-content: left;
  align-items: left;
  margin: auto;
  padding-top: 50px;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: column; 
  position: relative;
} @media (max-width: 1500px) {
  .carousel-vid {
    width: 100%; margin: auto; 
  } 
} @media (max-width: 1199.98px) {
  .carousel-vid {
    width: 100%; margin: auto; 
  } 
} @media (max-width: 768px) {
  .carousel-vid {
    width: 100%; margin: auto; 
  } 
}


.vid-txt {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  max-width: 30%;
  height: auto;
} @media (max-width: 1500px) {
  .vid-txt {
    max-width: 30%; margin: auto;
  } 
} @media (max-width: 1199.98px) {
  .vid-txt {
    max-width: 30%; margin: auto; 
  } 
} @media (max-width: 768px) {
  .vid-txt {
    max-width: 100%; margin: auto; 
  } 
}
.vid-txt p {
  margin: auto;
  margin-top: 10px;
}
.vid-txt video {
  margin: auto;
  margin-top: 10px;
  width: max-content;
  height: max-content;
} 

.vid-txt-wide {
  text-align: left;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
} @media (max-width: 1500px) {
  .vid-txt-wide {
    width: 70%; margin: auto; 
  } 
} @media (max-width: 1199.98px) {
  .vid-txt-wide {
    width: 100%; margin: auto; 
  } 
} @media (max-width: 768px) {
  .vid-txt-wide {
    width: 100%; margin: auto; 
  } 
}
.vid-txt-wide p {
  margin: 0;
  margin-top: 10px;
}
.vid-txt-wide video {
  margin: 0;
  margin-top: 10px;
  width: max-content;
  height: max-content;
} 
.video-block {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.video-block p {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.video-block a {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.video-block img {
  margin: auto;
  margin-top: 10px;
  width: max-content;
  height: max-content;
}

.dot-list {
  list-style-type: disc; /* 小圆点样式 */
  padding-left: 20px; /* 左侧缩进，使其与父级列表项对齐 */
}

.about__image {
  text-align: center;
  margin-bottom: 50px; 
}

.about__content {
  margin-left: 0; 
}

.about__education__item {
  width: 85%;
  margin-bottom: 60px; }
  @media (max-width: 1199.98px) {
    .about__education__item {
      width: 100%; } }
  .about__education__item .title {
    font-size: 22px;
    margin-bottom: 12px; }
  .about__education__item .date {
    display: block;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: #FCAF17;
    margin-bottom: 11px; }
  .about__education__item p {
    margin-bottom: 0; 
}

.bal-before {
  display: block;
  position: absolute;
  top: 10;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width:max-content;
  height:max-content; */
  z-index: 15;
  overflow: hidden;
}
.bal-before-inset {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.bal-beforePosition {
  background: #121212;
  color: #fff;
  left: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.container-small {
  width: 60vw;
  margin: auto;
}

.hoben-title {
  text-align: center;
  font-size: 42px;
  font-family: "Segoe Script", "Brush Script MT", cursive;
  padding-top: 60px;
} @media (max-width: 767.98px) { .hoben-title {
    font-size: 36px;
  } 
}

.photo-wall {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: auto;
} .photo-wall  img {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 40%;
} @media (max-width: 767.98px) { .photo-wall img {
  width: 80%;
} 
}

.section_title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.section_title::before,
.section_title::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.section_title::before {
  margin-right: 10px;
}

.section_title::after {
  margin-left: 10px;
}

/* 可以根据需要调整标题的样式 */
.section_title span {
  font-size: 20px;
  font-weight: bold;
}

/* 内容样式 */
.content {
  margin: 10px 0;
}

@media (max-width: 767.98px) { .slider-navigation-next {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  } 
}

@media (max-width: 767.98px) { .slider-navigation-previous {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  } 
}

@media (max-width: 1500px) {
  .detail_container {
    max-width: 90%;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: 767.98px) { 
  .detail_container {
    max-width: 90%;
  } .introduce_container {
    padding-bottom: 20px;
    text-align: left;
  }
}

.carousel {
  padding-top: 10px;
}